<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
        <title>{{site.name}}</title>
    </head>
    <body>
        <nav>
            <a href="{{ site.baseurl }}{% link index.md %}">Home</a>
            <a href="{{ site.baseurl }}{% link about.html %}">About</a>
            <a href="{{ site.baseurl }}{% link contents.md %}">ToC</a>
        </nav>
        {{ content }}
        <script src="{{ site.baseurl }}/js/index.js"></script>
    </body>
</html>
